---
theme: default
---

<!DOCTYPE html>
<html>
<head>
  <title>
    pakyow-1.0
  </title>

  <!--
    automatically added to layout:

    - responsive meta tag (if supported by theme)
    - charset meta tag (based on internationalization)
    - socket id meta tag (if realtime is enabled)
    - js / css for theme
    - page title tag (if missing)
    - component js (based on which ones are included)
  -->
</head>

<body>
  <main class="container-1">
    <!-- @container -->
  </main>

  <footer class="container-1 margin-t">
    <!-- @include pw-footer -->
  </footer>
</body>
</html>
